<!DOCTYPE html>
<html>
<head>
    <title>Metrictemplates Compare</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <h1 class="mb-3">Результат сравнения metrictemplates</h1> 
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th>Имя Кластера</th>
                        <th>metrictemplates</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Clusters }}
                        <tr>
                            <td>{{ .ClusterName }}</td>
                            <td>
                                <ul>
                                {{ range .MetricTpl }}
                                    <li>{{ . }}</li>
                                {{ end }}
                                </ul>
                            </td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
        <div class="col-md-6">
            <h3 style="background-color:rgb(126, 185, 236);">Не совпадающие объекты metrictemplates:</h3>
            {{ range $cluster, $diffs := .Diffs }}
            <h4>В {{ $cluster }}:</h4>
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th>Имя</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $diffs }}
                        <tr class="table-warning">
                            <td>{{ . }}</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
            {{ end }}
        </div>
    </div>
    <div class="col-md-6">
        <h3 style="background-color:rgb(126, 185, 236);">Отличия в spec metrictemplates (сравниваем только metrictemplates с одинаковыми именами):</h2>
        {{ range $cluster, $diffs := .DiffSpecs }} <!-- Проходим по каждому элементу в DiffSpecs -->
        {{ range $diff := $diffs }}
        <table class="table">
            <thead class="table-secondary">
                <tr>
                    <th>Metrictemplate</th>
                    <th>{{ .Cluster1 }} (spec1)</th>
                    <th>{{ .Cluster2 }} (spec2)</th>
                    <th>Diff</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-warning">
                    <td>{{ .MTName }}</td>
                    <td>{{ UnstructuredToJSON .SpecCluster1 }}</td>
                    <td>{{ UnstructuredToJSON .SpecCluster2 }}</td>
                    <td><pre>{{ .Difference | formatAsJSON }}</pre></td>
                </tr>
            </tbody>
        </table>
        {{ end }}
        {{ end }}
    </div>
    <button onclick="window.history.back();" class="btn btn-secondary mt-3">Назад</button>
    <button onclick="window.location.href='/'" class="btn btn-primary mt-3">На главную</button>
    <script src="/static/main.js"></script>
</body>
</html>
