<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>daemonsets JSON</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Highlight.js CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-tabs" id="clusterTabs">
                {{range $cluster, $daemonsetsMap := .}}
                <li class="nav-item">
                    <a class="nav-link" id="cluster-tab-{{$cluster}}" data-toggle="tab" href="#cluster-{{$cluster}}">{{$cluster}}</a>
                </li>
                {{end}}
            </ul>

            <div class="tab-content" id="clusterTabsContent">
                {{range $cluster, $daemonsetsMap := .}}
                <div class="tab-pane fade" id="cluster-{{$cluster}}">
                    <ul class="nav nav-tabs" id="daemonsetsTabs-{{$cluster}}">
                        {{range $daemonsets, $object := $daemonsetsMap}}
                        <li class="nav-item">
                            <a class="nav-link" id="daemonsets-tab-{{$cluster}}-{{$daemonsets}}" data-toggle="tab" href="#daemonsets-{{$cluster}}-{{$daemonsets}}">{{$daemonsets}}</a>
                        </li>
                        {{end}}
                    </ul>

                    <div class="tab-content" id="daemonsetsTabsContent-{{$cluster}}">
                        {{range $daemonsets, $object := $daemonsetsMap}}
                        <div class="tab-pane fade" id="daemonsets-{{$cluster}}-{{$daemonsets}}">
                            <!-- Wrap JSON output in <code> tag with class 'json' -->
                            <pre><code class="json">{{toJSON $object}}</code></pre>
                        </div>
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        
        <!-- jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Highlight.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
        <script>
            // Activating first tab of each group
            $(document).ready(function () {
                $('#clusterTabs a:first').tab('show');
                $('[id^="daemonsetsTabs-"]').each(function () {
                    $(this).find('a:first').tab('show');
                });

                // Highlight.js initialization
                hljs.highlightAll();
            });
        </script>
		<button onclick="window.history.back();" class="btn btn-primary">Назад</button>
		<button onclick="window.location.href='/'" class="btn btn-primary">На главную</button>
    </body>
</html>
